/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/*Variable Declaration*/
:root {
  --accent1-color: #396e94   ;
  --accent2-color: #8b1e3f ;
  --accent3-color: #d3d0cb;
  --accent4-color: #44bba4;
  --accent5-color: #eceae5;

  --heading-font: "Nunito";
  --paragraph-font: Arial, Helvetica, sans-serif;

  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent5-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #6CCFF6;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #8B2635;
}

/* navigation bar*/
nav {
  background-color: var(--accent3-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
}

nav a {
  padding:1em;
  min-width: 12vw;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.active {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p, ul {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
  text-align: justify;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 20%;
  height: 3em;
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}
.accent3 {
  background-color: var(--accent3-color);
}
.accent4{
  background-color: var(--accent4-color);
}
.accent5{
  background-color: var(--accent5-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
