@media only screen and (min-width: 64em){
    main{
        display: grid;
        grid-template-columns: 20vw auto 20vw;
        grid-template-rows: auto;
        font-size: 1.5em;
    }

    header .navbar{
        display: grid;
        grid-template-columns: 22vw auto 5vw;
        grid-template-rows: auto auto 4vw;
        padding-top: 2vw;
    }
    .navbar .nav-logo {
        grid-column: 1/2;
        grid-row:1/2;
        width: 2vw;
    }
    #headerlogo{
        height: 11vw;
        margin-left: 8vw;
        margin-top: 1vw;
        background-color: var(--paragraph-color-on-color);
        border-radius: 5vw;
        opacity: 90%;
    }
    .title {
        grid-column: 2/3;
        grid-row: 1/2;
        color: var(--accent5-color);
    }
    nav h1{
        font-family: var(--heading-font);
        font-size: 1.5em;
        margin-bottom: 0vw;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    nav h2{
        font-family: var(--paragraph-font);
        font-size: 0.8em;
        margin-top: 0vw;
    }

    .cards img{
        height: auto;
        width: 100%;
    }

    section a{
        font-size: 0.7em;
    }

    .title h1{
        font-size: 3.2vw;
        margin-top: 1vw;
    }
    .navbar .socialmedia{
        grid-column: 4/5;
        margin-left: 0;
    }
    .sociallogo{
        height: 2.5vw;
        margin-top: 1vw;
        padding-top: 0;
        padding-left: 0;
        margin-left: 1vw;
    }
    .title h2{
        font-size: 3vw;
    }
    .nav-menu{
        grid-column: 1/5;
        grid-row: 2/3;
        padding-bottom: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(4,auto);
        margin-top: 1vw;
    }
    .nav-menu li:first-child {
        display: none;
    }
    .nav-menu li {
        display: inline;
        padding: 0;
    }
    .navbar .dateblock{
        grid-column: 1/5;
        margin-top: 0vw;
        padding-top: 0;

        
    }
    .dateblock #date{
        font-size: 1vw;
        height: 2vw;
        margin-top: 0;
        padding-top: 1vw;
    }

    /*MAIN SECTION*/
    #event {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 0;
        margin-bottom: var(--div-spacing);
        margin-right: var(--div-spacing);
        height: auto;
    }
    #event p{
        font-size: 0.8em;
    }
    .content-title{
        font-size: 1vw;
    }
    #spot h3{
        font-size: 1vw;
    }
    #event i{
        font-size: 1em;
    }
    #weather{
        grid-column: 1/2;
        grid-row: 2/3;
        width: auto;
        margin-top: 0;
        margin-bottom: 0vw;
        margin-left: 0;
        margin-right: var(--div-spacing);
        margin-bottom: var(--div-spacing);
        grid-template-columns: auto auto;
        grid-template-rows: 2vw 5vw 2vw 2vw;

    }
    #weather h2{
        grid-column: 1/3;
        grid-row: 1/2;
        padding-top: 1vw;
        margin: 0;
    }
    #weather img{
        height: 5vw;
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 1vw;
    }
    #weathervalue{
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 3vw;
        text-align: left;
        margin-top: 1.2vw;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #weathertext{
        font-size: 1vw;
        padding-top: 1.5vw;
        ;
    }
    #v1 {
        margin-top: 1em;
    }
    #v h4{
        font-size: 1vw;
    }
    #join {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-right: var(--div-spacing);
        margin-bottom: 0vw;
        width: auto;
    }
    #join p{
        font-size: 1em;
    }
    #hero{
        grid-column: 2/3;
        grid-row: 1/3;
        margin-right: var(--div-spacing);

    }
    #hero h2{
        position: absolute;
        margin-left: 1vw;
        font-size: 1.5em;
    }
    #hero a{
        margin-bottom: 2vw;
        margin-top: 25vw;
        width: 15vw;
        left: 30em;
        height: 5vw;
        font-size: 2vw;
    }
    #news {
        grid-column: 2/3;
        grid-row: 3/4;
        margin-bottom: 0vw;
        margin-right: var(--div-spacing);
        height: auto;
    }
    #news p{
        font-size: 1em;
    }
    #spot {
        grid-column: 3/4;
        grid-row: 1/4;
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(3,auto);
        margin: 0;
        margin-bottom: 0;
        padding-top: 0;
        align-items: center;

    }
    #spot .subspot{
        margin-top: 0.2vw;
    }
    .subspot a{
        font-size: 1vw;
    }
    #spot #class1{
        grid-row: 1/2;
        grid-column: 1/2;                
    }
    #class1 img{
        height: 3vw;
    }
    #spot #class2{
        grid-row: 2/3;
        grid-column: 1/2;                
    }
    #class2 img{
        height: 3vw;
    }
    #spot #class3{
        display: block;
        grid-row: 3/4;
        grid-column: 1/2; 
    }
    #class3 img{
        height: 5vw;
    }
    #join h3{
        height: 1.8em;
        padding-top: 1em;
        margin:0;
    }
    #join h3:hover{
        height: 2em;
        padding-top: 1vw;
    }

    /* DISCOVER*/

    .discover-main{
        grid-template-columns: repeat(10,auto);
    }
    .pagetitle{
        grid-column: 2/10;
        grid-row: 1/2;
        text-align: center;
    }
    #place1 {
        grid-column: 2/10;
        grid-row: 2/3;
    }
    #place1-text{
        display:none;
        grid-column: 2/10;
        grid-row: 2/3;
        
    }
    #place2-text{
        display: none;
    }
    #place3-text{
        display: none;
    }
    #place4-text{
        display: none;
    }
    #place5-text{
        display: none;
    }
    #place1 img p{
        width: 70%;
    }
    #text1 {
        grid-column: 2/10;
        grid-row: 3/4;
    }
    #text2 {
        grid-column: 2/7;
        grid-row: 4/5;


    }
    #place2 p{
        width: 89%;

    }
    #place2 {
        grid-column: 6/10;
        grid-row: 4/5;
        width: 70%;
        display: block;
        margin-left: auto;

    }
    #place3 {
        grid-column: 2/5;
        grid-row: 5/6;
        float: left;
        width: 70%;
    }
    #place3 p{
        width: 88%;

    }
    #text3 {
        grid-column: 4/10;
        grid-row: 5/6;
    }
    #text3 p{
        width: auto;
    }
    #demographics-table {
        float: right;
        margin-left: 1em;
        margin-top: 1.5em;
        text-align: center;
    }
    #place4 {
        grid-column: 2/10;
        grid-row: 6/7;
    }
    #text4 {
        grid-column: 2/10;
        grid-row: 7/8;
    }
    #census-table{
        float: right;
        margin-left: 1em;
    }    
    #place5 {
        grid-column: 2/5;
        grid-row: 8/9;

    }
    #place5 p{
        
    }
    #text5 {
        grid-column: 5/10;
        grid-row: 8/9;
    }

    /* JOIN*/


    .join-main form{
        grid-template-columns: auto auto auto;
        width: auto;
        margin: 0;
        padding: 0;
        
    }
    .join-main label{
        font-size: 0.8em;
    }
    .join-main input{
        font-size: 1vw;
        height: 1.5vw;
        
    }
    .join-main textarea{
        font-size: 1vw;
    }
    .join-main select{
        font-size: 1vw;
    }
    .join-main #fs1{
        grid-template-columns: auto;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-right: 0.5em;
        padding-bottom: 0;
        margin-bottom: 0.5em;
    }
    .join-main #label-firstname{
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        margin-right: 0.5em;
    }
    .join-main #label-lastname{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        margin-right: 0.5em;
    }
    .join-main #label-email{
        grid-column: 1/2;
        grid-row: 3/4;
        display: grid;
        margin-right: 0.5em;
    }
    .join-main #label-cellphone{
        grid-column: 1/2;
        grid-row: 4/5;
        display: grid;
        margin-right: 0.5em;
    }
    .join-main #fs2{
        grid-template-columns: auto;
        grid-column: 2/3;
        grid-row: 1/2;
        padding-bottom: 0;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .join-main #label-businessname{
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        margin-right: 0.5em;
    }
    .join-main #label-position{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        margin-right: 0.5em;
    }
    .join-main #label-membership{
        grid-column: 1/2;
        grid-row: 3/4;
        display: grid;
        margin-right: 0.5em;
    }
    .join-main #label-businessdesc{
        grid-column: 1/2;
        grid-row: 4/5;
        display: grid;
        margin-right: 0.5em;
    }
    .join-main .table-base{
        grid-column: 3/4;
        grid-row: 1/2;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
    }

    .table-base .featurelabel,.feature{
        font-size: 1.2vw;
    }
    .table-base .ben-sub{
        font-size: 1vw;
    }

    .table-base caption{
        font-size: 1vw;
    }


    .join-main #submit{
        grid-column: 1/4;
        grid-row: 2/3;
        font-size: 1.5em;
    }
    .thankyou-main h1{
        font-size: 2em;
    }
    .thankyou-main h2{
        font-size: 1.5em;
    }

    /*DIRECTORY*/
    .index-directory {
        grid-template-columns: 1fr;
    }

    .index-directory h1{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    #menu-directory{
        grid-column: 1/4;
        grid-row: 2/3;
    }


    .index-directory .cards{
        grid-column: 1/4;
        grid-row: 3/4;
        margin-left: 5em;
        margin-right: 5em;
    }

    .cards #address,#phone,#membership {
        font-size: .8em;
    }

    
    .banner{
        display: none;
        background-color: var(--accent4-color);
    }
    .banner__content{
        text-align: center;
        display: flex;
        width: max-content;
        margin: 0 auto;
        padding: 1vw;
    }
    


    /*FOOTER*/
    footer{
        font-size: 1.5vw;
    }
    footer .info{
        font-size: 1vw;
    }
    .info {
        margin-top: 0.5vw;
    }
    #footerlogo{
        height: 5vw;
        margin-left: 9vw;
        margin-top: 1.8vw;
    }
    #footerTextCompany {
        padding-top: 1.7vw;
    }
    #location {
        padding-top: 1vw;
    }
}


