@media only screen and (min-width: 75em){
    main{
        display: flexbox;
        grid-template-columns: 20vw auto 20vw;
        grid-template-rows: auto;
        font-size: 1.5em;
    }

    header .navbar{
        display: grid;
        grid-template-columns: 22vw 15vw auto 15vw;
        grid-template-rows: auto auto auto;
        padding-top: 0;
    }

    #headerlogo{
        height: 6vw;
        margin-left: 12vw;
        margin-top: 1vw;
    }

    .title {
        padding-top: 0vw;
        margin-top: 0vw;
        width: 100%;
    }

    li{
        display: inline;
        font-size: 1.5vw;
        padding-top: 0.8vw;
    }


    .title h1{
        font-size: 3.2vw;
        margin-top: 1vw;
    }

    .navbar .socialmedia{
        grid-column: 4/5;
        margin-left: 0;
    }

    .sociallogo{
        height: 2.5vw;
        margin-top: 1vw;
        padding-top: 0;
        padding-left: 0;
        margin-left: 1vw;
    }

    .title h2{
        font-size: 1vw;
    }



    .nav-menu{
        grid-column: 1/5;
        grid-row: 2/3;
        padding-bottom: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(4,auto);
        margin-top: 1vw;
    }

    .nav-menu li:first-child {
        display: none;
    }

    .nav-menu li {
        display: inline;
        padding: 0;
    }

    .navbar .dateblock{
        grid-column: 1/5;
        margin-top: 0;
        padding-top: 0;
        
    }
    .dateblock #date{
        font-size: 1vw;
        height: 2vw;
        margin-top: 0;
        padding-top: 0.6vw;
    }

    /*MAIN SECTION*/
    #event {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 0;
        margin-bottom: var(--div-spacing);
        margin-right: var(--div-spacing);
        height: auto;
    }

    .content-title{
        font-size: 1vw;
    }

    #spot h3{
        font-size: 1vw;
    }

    #event i{
        font-size: 1em;
    }

    p{
        font-size: 0.8em;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    #weather{
        grid-column: 1/2;
        grid-row: 2/3;
        width: auto;
        margin-top: 0;
        margin-bottom: 0vw;
        margin-left: 0;
        margin-right: var(--div-spacing);
        margin-bottom: var(--div-spacing);
        grid-template-columns: auto auto;
        grid-template-rows: 2vw 5vw 2vw 2vw;

    }

    #weather h2{
        grid-column: 1/3;
        grid-row: 1/2;
        padding-top: 1vw;
        margin: 0;
    }

    #weather img{
        height: 5vw;
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 1vw;
    }

    #weathervalue{
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 3vw;
        text-align: left;
        margin-top: 1.2vw;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #weathertext{
        font-size: 1vw;
        padding-top: 1.5vw;
    }

    #v h4{
        font-size: 1vw;
    }


    #join {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-right: var(--div-spacing);
        margin-bottom: 0vw;
        width: auto;
    }

    #hero{
        grid-column: 2/3;
        grid-row: 1/3;
        margin-right: var(--div-spacing);

    }

    #hero h2{
        position: absolute;
        margin-left: 1vw;
        font-size: 1.5em;
    }

    
    #hero a{
        margin-right: 15vw;
        margin-top: 23vw;
        width: 20vw;
        font-size: 3vw;
        height: 8vw;
        width: 23vw;


    }

    #hero a:hover{
        background-color:var(--accent3-color) ;
        color:var(--accent2-color);
    }



    #hero img{
        max-width:100%;
        height:auto;
        background-size: cover;
    }

    #news {
        grid-column: 2/3;
        grid-row: 3/4;
        margin-bottom: 0vw;
        margin-right: var(--div-spacing);
        height: auto;
    }

    #news p{
        font-size: 1.2em;
    }

    #spot {
        grid-column: 3/4;
        grid-row: 1/4;
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(3,auto);
        margin: 0;
        margin-bottom: 0;
        padding-top: 0;
        align-items: center;

    }

    #spot .subspot{
        margin-top: 0.2vw;
    }

    .subspot a{
        font-size: 1vw;
    }
    #spot #class1{
        grid-row: 1/2;
        grid-column: 1/2;                
    }

    #class1 img{
        height: 3vw;
    }

    #spot #class2{
        grid-row: 2/3;
        grid-column: 1/2;                

    }

    #class2 img{
        height: 3vw;
    }

    #spot #class3{
        display: block;
        grid-row: 3/4;
        grid-column: 1/2; 
    }

    #class3 img{
        height: 5vw;
    }

    #join h3{
        height: 2em;
        padding-top: 1vw;
    }

    #join h3:hover{
        height: 2em;
        padding-top: 1vw;
    }

    #join p{
        font-size: 1.2em;
    }


    footer{
        font-size: 1.5vw;
    }

    #footerText p{
        padding-top: 0.5vw;
    }

    footer .info{
        font-size: 1vw;
    }

    .info {
        margin-top: 0.5vw;
    }

    #footerlogo{
        height: 5vw;
        margin-left: 9vw;
        margin-top: 1.8vw;
    }
}













