@media only screen and (min-width: 37.5em) {
    header .navbar{
            grid-template-columns: 20vw auto 30vw;
            grid-template-rows: auto auto 10vw;
     }
    .nav-menu{
       grid-column: 1/4;
       grid-row: 2/3;
    }
    .nav-menu a {
        font-size: 1em;
    }
    .navbar .socialmedia{
        grid-column: 3/4;
        margin-left: 6vw;
    }
    .sociallogo{
        margin-top: 0;
    }
    li{
        width: 100%;
        font-size: 1.5em;
    }
    a{
        text-decoration: none;
    }
    .title h2{
        font-size: 1.5em;
    }
    .navbar .dateblock{
        grid-column: 1/4;
    }
    .dateblock #date{
        font-size: 1.5em;
        height: 5vw;
        height: auto;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    /*MAIN GENERAL STYLES*/
    main{
        grid-template-columns:repeat(2,auto);
        grid-template-rows: repeat(6,auto);
        font-size: 1em;
    }
    #hero{
        grid-column: 1/3;
    }
    #hero a{
        left: 3em;
    }
    #news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #spot {
        grid-column: 1/3;
        grid-row: 3/4;
        grid-template-columns: repeat(2,auto);
    }
    #spot #class1{
        grid-column: 1/2;
    }

    #spot #class2{
        grid-column: 2/3;
    }

    #join {
        grid-column: 1/3;
        grid-row: 4/5;
        display: grid;
    }
    #event {
        grid-row: 5/6;
    }
    #event p{
        font-size: 1.5em;
    }
    #weather{
        grid-column: 2/3;
        grid-row: 5/6;
        margin-left: var(--div-spacing);
        margin-top: var(--div-spacing);
        margin-bottom: 0vw;
        text-align: center;
    }
    #weather img{
        height: 5em;
    }
    #weathertext{
        margin-top: 0;
        margin-bottom: 0;
    }
    #v{
        margin-bottom: 1.5vw;
    }
    .wind-text{
        font-size: 7vw;
    }
    .wind-desc{
        font-size: 4vw;
    }
    .wind-val{
        font-size: 3vw;
    }
    .places:hover{
        opacity: 0.9;
    }
    /*MAIN JOIN*/
   .join-main label{
        font-size: 1em;
    }
    .join-main input{
        font-size: 1em;
    }
    .join-main textarea{
        font-size: 1em;
    }
    .join-main select{
        font-size: 1em;
    }
    .join-main #fs1{
        grid-template-columns: auto auto;
    }
    .join-main #label-firstname{
        margin-right: 1em;
    }
    .join-main #label-lastname{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .join-main #label-email{
        grid-row: 2/3;
        margin-right: 1em;
    }
    .join-main #label-cellphone{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .join-main #fs2{
        grid-template-columns: auto auto;
    }
    .join-main #label-businessname{
        grid-row: 1/2;
        margin-right: 1em;
    }
    .join-main #label-position{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .join-main #label-membership{
        grid-column: 1/3;
        grid-row: 7/8;
    }
    .join-main #label-businessdesc{
        grid-column: 1/3;
        grid-row: 9/10;
    }
    .table-base{
        display: grid;
        border: 1px solid;
    }
    .join-main ul{
        font-size: 0.7em;
    }
    .join-main #submit{
        font-size: 1.5em;
    }
    .thankyou-main h1{
        font-size: 3em;
    }
    .thankyou-main h2{
        font-size: 2em;
    }

    /*DIRECORY*/
    .index-directory {
        grid-template-columns: 1fr;
    }
    .index-directory h1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #menu-directory{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .index-directory .cards{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .cards img{
        width: 95%;
    }
    .cards #address,#phone {
        font-size: 1.1em;
    }
    /*FOOTER*/
    footer{
        font-size: 1em;
        font-weight: bolder;
    }
    #footerTextCompany {
        padding-top: 2.5vw;
    }
    #location {
        padding-top: 3vw;
    }
    .visits{
        font-size: 1.5em;
    }
    footer h1{
        font-size: .8em;
    }


}
