@media only screen and (min-width: 37.5em) {
    
    main{
        grid-template-columns:repeat(2,auto);
        grid-template-rows: repeat(6,auto);
        font-size: 1em;
    }

    header .navbar{
            display: grid;
            grid-template-columns: 20vw auto 30vw;
            grid-template-rows: auto auto 10vw;
            align-items: center;

    }

    .nav-menu{
       grid-column: 1/4;
       grid-row: 2/3;
       padding-left: 0;
       padding-top: 0;
    }

    .nav-menu a {
        font-size: 1em;
    }


    .navbar .socialmedia{
        grid-column: 3/4;
        margin-left: 6vw;
    }

    .sociallogo{
        height: 8vw;
        padding-top: 0;
        padding-top: 0;
        margin-top: 0;
    }

    li{
        width: 100%;
        font-size: 1.5em;
    }

    a{
        text-decoration: none;
    }

    .title {
        margin-top: 0vw;
    }

    .title h1{
        font-size: 2.5em;
    }
    .title h2{
        font-size: 1.5em;
    }



    .navbar .dateblock{
        grid-column: 1/4;
    }

    .dateblock #date{
        font-size: 1.5em;
        height: 5vw;
    }


    #hero{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #hero a{
        margin-bottom: 2vw;
        margin-top: 35vw;
        left: 3em;
    }

    #news {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #spot {
        grid-column: 1/3;
        grid-row: 3/4;
        grid-template-columns: repeat(2,auto);
    }

    #spot #class1{
        grid-column: 1/2;

    }

    #class1 img{
        height: 6em;
    }


    #spot #class2{
        grid-column: 2/3;

    }

    #class2 img{
        height: 6em;
    }
 

    #join {
        grid-column: 1/3;
        grid-row: 4/5;
        display: grid;
        height: auto;
        border: solid #A0A0A0;
        background-color:#E0E0E0;
        padding-left: var(--div-spacing);
        padding-top: var(--div-spacing);
        margin-bottom: var(--div-spacing);
        text-align: center;
    }

    #join h3{
        border-radius: 3vw;
        background-color: var(--accent2-color);
        color: white;
        height: 5vw;
        padding-top: 1vw;
        display: inline-block;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    #join h3:hover{
        background-color: var(--accent1-color);
        color:  var(--accent2-color);
    }

 



    #event {
        grid-column: 1/2;
        grid-row: 5/6;
        margin-top: var(--div-spacing);
        margin-bottom: 0vw;
        width: fit-content;
    }

    #event p{
        font-size: 1.5em;
    }

    #weather{
        grid-column: 2/3;
        grid-row: 5/6;
        margin-left: var(--div-spacing);
        margin-top: var(--div-spacing);
        margin-bottom: 0vw;
        grid-template-columns: auto auto;
        text-align: center;

    }

    #weather img{
        height: 5em;
        padding-left: 5vw;
    }

    #weathervalue{
        font-size: 2em;
    }

    #weathertext{
        font-size: 3vw;
        margin-top: 0;
        margin-bottom: 0;
    }

    #v{
        margin-bottom: 1.5vw;
    }
    
    #v h4{
        font-size: 2vw;
    }


    footer{
        font-size: 1em;
        font-weight: bolder;
    }
    
    #footerlogo{
        margin-top: 2.5vw;
        height: 7vw;
        margin-left: 6vw;
    }

    
    #footerText {
        padding-top: 3vw;
    }

    #location {
        padding-top: 3vw;
    }

}