header{
    display: grid;
    grid-template-columns: repeat(8,1fr) ;
    align-content: center;
}   

.HeadBlueBox{
    display: grid;
    grid-template-columns: repeat(9,1fr) ;
    background-color: #0066CC;
    grid-column: 3/7;
    height: 12vw;
}

.image {
    grid-column: 3/5;
    height: 10vw;
    margin-top: 1vw;
    align-content: center;
}

.title {
    grid-column: 5/8;
    color: white;
    text-shadow: rgb(9, 9, 9) 1px 0 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30%;
    text-align: center;
}

.sectionBlock {
    display: grid;
    grid-template-columns: repeat(9,1fr) ;
    grid-template-rows: 3vw auto 3vw;
    
}

.sectionName {
    grid-column: 4/7;
    grid-row: 1/2;
    border-bottom: 1px solid;
    font-size: 1vw;
}

.list {
    grid-column: 4/7;
    grid-row: 2/3;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
    font-size: 0.8vw;

}

.disclaimer {
    grid-column: 4/7;
    grid-row: 3/4;
    border-top: 1px solid;
    font-size: 0.55vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: 1.5vw;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: rgb(66, 65, 65) 1px 0 10px;
    text-align: center;
}

p {
    font-size: 1vw;
}

footer{
    grid-template-columns: repeat(8,1fr) ;
    display: grid;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.FootBlueBox{
    display: grid;
    grid-template-columns: repeat(9,1fr) ;
    background-color: #0066CC;
    grid-column: 3/7;
    height: 5vw;
    color: white;
    line-height: 0.1em;
}

.f1 {
    grid-column: 3/9;
    grid-row: 1/2;
}

.f2 {
    grid-column: 3/9;
    grid-row: 2/3;
}

.FootBlueBox #pfooter,#date {
    text-align: center;
}