@media only screen and (min-width: 64em){
    /*HEADER*/
    .nav-menu-index{
        display:grid;
        flex-direction:row;
        grid-template-columns: 33.3% 33.3% 33.3%;
        margin-top: 1vw;
    }
    .nav-menu-aboutus,.nav-menu-partners,.nav-menu-fresh{
        display:grid;
        flex-direction:row;
        grid-template-columns: 25% 25% 25% 25%;
        margin-top: 1vw;
    }
    .navbar ul li:first-child {
        display: none;
    }
    .navbar ul li {
        display: inline;
        padding: 0;
    }
    /*MAIN INDEX*/
    #main-home #cards {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
    }
    #main-home #weather {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-left: 0.5em;
        
    }
    #main-home #fresh {
        margin-left: 0.5em;
    }
    #main-home #shipping {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-left: 0.5em;
    }
    #main-home #explore{
        margin-left: 1em;
        margin-right: 1em;
    }
    #main-home .slideshow-container {
        width: 75%;
    }
    #main-home .link{
        font-size: var(--font-size-h2);
    }
    #main-home #currentWeather img{
        width: 10vw;
    }
    #main-home #weathertemp {
        font-size: 3vw;
    }
    #main-home #weatherdesc {
        font-size: 2vw;
    }
    #main-home #weatherhum {
        font-size: 1.5vw;
    }
    #main-home #weather #forecast .foreclass{
        padding: 0.3em;
        grid-template-columns: 40% 60%;
    }
    #main-home #weather #forecast .fcDate{
        font-size: 2vw;
    }
    #main-home #weather #forecast .fcTemp{
        font-size: 1.5vw;
    }
    #main-home #weather #forecast .fcDesc{
        font-size: 1vw;
    }
    #main-home #weather #forecast .fcImg{
        width: 5vw;
    }
    /*PARTNERS*/
    #main-partners .cards {
        grid-template-columns: repeat(auto-fit,25%);
        margin-left: 1em;
        margin-right: 1em;
    }
    #main-partners .liparagraph{
        font-size: var(--font-size-parragraph);
    }
    #main-partners #opportunities{
        margin-left: 1em;
        margin-right: 1em;
    }
    #main-partners #opportunities p{
        font-size: var(--font-size-parragraph);
    }

    /*FRESH*/
    #main-fresh form .fsclass{
        font-size: 0.95vw;
    }
    #main-fresh form{
        grid-template-columns: 50% 50%;
        margin-left: 1em;
        margin-right: 1em;
    }
    #main-fresh form #fs2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #main-fresh form #fs3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #main-fresh form button{
        grid-column: 2/3;
        grid-row: 2/3;
       height: auto;
       margin-top: 1em;
       margin-bottom: 1em;
    }
    #main-fresh form #fs3 .feature{
        font-size: var(--font-size-parragraph);
    }
    #main-fresh form #fs3 .featurelabel{
        font-size: var(--font-size-parragraph);
    }
    #main-fresh form #fs3 .ben-sub-tot{
        font-size: var(--font-size-parragraph);
    }
    #main-fresh form #fs3 .ben-sub-tit{
        font-size: var(--font-size-parragraph);
    }
    #main-fresh form #fs3 .ben-sub{
        font-size: var(--font-size-parragraph);
    }
    #main-fresh #fs3 caption{
        font-size: var(--font-size-h2);
    }
    #main-fresh form legend{
        font-size: var(--font-size-parragraph);
    }
    #main-fresh #fs1 #label-firstname,#label-email,#label-cellphone{
        margin: 0;
        font-size: var(--font-size-parragraph);
    }
    #main-fresh #fs1 .input,select,textarea{
        padding-top: 0.3em;;
        padding-bottom: 0.3em;
    }
    #main-fresh #fs4{
        margin-left: 15em;     
        margin-right: 15em;     
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #main-fresh form #fs5{
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 5em;
        margin-right: 5em;
    }
}